.d1{
	height:800px;
	width: 800px;
	background-color: white;
}
.d2{
	height:100px;
	width: 800px;
	background-color: black;
}
.d3{
	height: 700px;
	width: 800px;
	background-color: skyblue;
}
.d4{
	height: 50px;
	width: 800px;
	background-color: whitesmoke;
}
.d5{
	height: 50px;
	width: 800px;
	background-color: ghostwhite;
}
.d6{
	height: 500px;
	width: 800px;
	background-color: wheat;
}
.d7{
	height: 200px;
	width: 800px;
	background-color: skyblue;
}
.i{
	height: 500px;
	width: 800px;
}